<?php

// GitLab private token (My profile / Account)
$gitlabToken = 'do0hi79yE9hUF';

// GitHub OAuth token
$gitlabToken = 'da39a3ee5e6b4b0d3255bfef95601890afd80709';

// Send commit emails to this email address
$to = 'foo@example.org';

// Random secret defined by you so not everyone can call your hook
$secret = 'ABC';
